<apex:page standardController="loan__Loan_Account__c" extensions="LoanReschedulingCtrl" title="Loan Modification History">
    <apex:pageBlock >
        <apex:pageBlockTable value="{!modHistoryList}" var="modHist" columns="9">
            <apex:column value="{!modHist.Agreement_Modified_Date__c}" />
            <apex:column value="{!modHist.Modification_Type__c}" />
            <apex:column value="{!modHist.Modification_Reason__c}" />
            <apex:column value="{!modHist.Modification_Made__c}" />
            <apex:column value="{!modHist.Modification_Reason_Text_Line__c}" />
            <apex:column value="{!modHist.Modified_By__c}" />
        </apex:pageBlockTable>
    </apex:pageBlock>
</apex:page>