<apex:page standardController="loan__CR_Org_Definition__c" title="Metro2 File Generation" extensions="LPMetro2TabController">
    <apex:form >
      <apex:sectionHeader title="Metro2 Files"/>
      <apex:pageblock id="headerList">
          <apex:pageMessages />
          <apex:pageBlockButtons >
              <apex:actionStatus id="recalcl">
                   <apex:facet name="stop">
                       <apex:commandButton action="{!generateFile}" value="Generate Metro2 File"
                           reRender="headerList" status="recalcl"/>
                   </apex:facet>
                   <apex:facet name="start">
                       <apex:outputpanel >
                           <apex:image value="/img/loading32.gif" style="height:15px;"/>
                           <apex:commandButton value="Working..." disabled="true"
                               reRender="headerList" status="generatePreview"/>
                       </apex:outputpanel>
                   </apex:facet>
                </apex:actionStatus>
              
          </apex:pageBlockButtons>
          
          <apex:pageblockTable value="{!headerSet1}" id="loanProductTable"
                var="JA">
                <apex:column headerValue="Metro2 File">
                    <apex:outputLink value="{!'/' + JA.Id}">{!JA.Name}</apex:outputLink>
                </apex:column>
                <apex:column headerValue="Date Created"
                    value="{!JA.loan__Date_Created__c}" />
            </apex:pageblockTable>
            
       </apex:pageblock>
    </apex:form>
    
    
          
</apex:page>