<apex:page standardController="loan__Loan_Account__c" extensions="ModifiedReasonExt" showHeader="false">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <apex:form >
        <apex:pageBlock title="Loan Modification">
            <apex:pageMessages escape="false" />
            <apex:pageBlockSection columns="1">
                <apex:inputField value="{!contract.Modification_Type__c}" />
                <apex:inputField value="{!contract.Modification_Reason__c}">
                    <apex:actionSupport event="onchange" reRender="reasonTextPanel" />
                </apex:inputField>
                <apex:outputPanel id="reasonTextPanel" style="padding-left:25px;">
                    <apex:inputField value="{!contract.Modification_Reason_Text_Line__c}" rendered="{!contract.Modification_Reason__c == 'Other'}" style="width: 340px;" />
                </apex:outputPanel>
                <apex:inputField value="{!contract.Modification_Made__c}" />
            </apex:pageBlockSection>
            <apex:pageBlockButtons location="bottom">
    			<apex:inputHidden value="{!status}" html-data-id="statusHidden"/> 
                <apex:commandButton value="Save" action="{!saveReason}" />
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
    
    <script language="JavaScript" type="text/javascript">
		$j = jQuery.noConflict();
    	$j(document).ready(function() {
        	var status = $j('input[data-id="statusHidden"]').val();
            console.log(status);
            if (status == 'Success') {
                window.opener.location.href = "/{!$CurrentPage.parameters.id}";
                window.top.close();
            }
        });
	</script>
</apex:page>