<apex:page tabStyle="Maintenance_Securitization__tab" showHeader="true" sidebar="false" standardstylesheets="false">
  <apex:stylesheet value="{!$Resource.CLServicerActions}" />
  <apex:form >
    <apex:panelGrid width="100%" columns="1" cellpadding="10" cellspacing="5">
      <apex:panelGroup >
        <apex:outputtext value="Select Section:" styleClass="headline"/> 
      </apex:panelGroup> 
      <apex:panelGroup >
        <apex:panelGrid width="100%" columns="3" cellpadding="10" cellspacing="3" styleClass="maintenance-grid">
            <apex:panelGroup styleClass="maintenance-buttons">
              <apex:outputLink value="https://lendingpoint--uat.my.salesforce.com/a61/o">Segments Maintenance</apex:outputLink>
            </apex:panelGroup>
            <apex:panelGroup styleClass="maintenance-buttons">
              <apex:outputLink value="https://lendingpoint--uat.my.salesforce.com/a5z/o">Buckets Maintenance</apex:outputLink>
            </apex:panelGroup>
            <apex:panelGroup styleClass="maintenance-buttons">
              <apex:outputLink value="https://lendingpoint--uat.my.salesforce.com/a5y/o">Actions Maintenance</apex:outputLink>
            </apex:panelGroup>
        </apex:panelGrid>
      </apex:panelGroup>
    </apex:panelGrid>
  </apex:form>  
</apex:page>