<apex:page id="WoaModificationsSection"
           standardController="loan__Loan_Account__c"
           extensions="LoanReschedulingCtrl"
           title="Workout Modifications Section">
    <apex:pageBlock title="Workout Modifications Section">
        <apex:pageBlockSection rendered="{!displayLastWoaDate}" columns="2">
            <apex:outputText value="{!contract.loan__Term_Cur__c}"/> <!-- Term -->
            <apex:outputText value="{!contract.loan__Interest_Rate__c}"/> <!-- Interest Rate -->
            <apex:outputText value="{!contract.loan__Due_Day__c}"/> <!-- Due Day -->
            <apex:outputText value="{!contract.loan__Frequency_of_Loan_Payment__c}"/> <!-- Frequency -->
            <apex:outputText value="{!contract.loan__Maturity_Date_Current__c}"/> <!-- Maturity Date -->
            <apex:outputText value="{!contract.loan__Pmt_Amt_Cur__c}"/> <!-- Payment Amount -->
            <apex:outputText rendered="{!displayLastWoaDate}"  value="{!contract.Agreement_Modified_Date__c}"/> <!-- Last WOA Date -->
        </apex:pageBlockSection>
    </apex:pageBlock>
</apex:page>