.THIS .slds-modal__container {
    max-width: 80%;
    width:100%;
}
.THIS .slds-modal__content {
    height: 450px!important;
}
.THIS .slds-text-title_caps {
    line-height: 3.5em!important;
}
.THIS .slds-spinner_container {
    position: inherit!important;
}